<!DOCTYPE html>
<html>
    <head>
        <title>Sample</title>
        <link r qel="stylesheet" href="/style.css" />
        <script defer src="/script.js" type="text/javascript"></script>
    </head>
    <body>
        Sample Hello
        <button onclick="termsPop()">Go To Terms!</button>

        <div class="modal">
            <div class="modal_body">
                <iframe
                    width="100%"
                    height="auto"
                    src="http://localhost:5000"
                ></iframe>
            </div>
        </div>
    </body>
</html>
